body {
    font-family: 'PT Sans Narrow', sans-serif;
    background-color: #1e0039;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
  }
  
  h1 {
    font-family: 'Bitter', serif;
    font-weight: 700;
    text-align: center;
  }
  
  .workplace {
    background-color: #604d9e;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    width: 300px; 
    text-align: center;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="date"] {
    color: black;
    width: 150px;
    padding: 10px;
    margin: 5px 0;
    border: 5px solid #aaa2d8;
    background-color:#e4d6f8;
    border-radius: 10px;
    outline: none;
  }
  
  label {
    font-family: 'PT Sans Narrow', sans-serif;
  }
  
  input[type="radio"] {
    margin-right: 5px;
  }
  
  input[type="submit"] {
    background-color: B9848C;
    color: #B9848C;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 10px;
  }
  